<!DOCTYPE html>
<html>
<head>
<title>Wait Once</title>
</head>
<body>
<p style="font-size:40px;">Only genuine users of this app are permitted. Waitonce reserves the right to remove a user who is not genuinely providing, seeking or using allied health services.</p>
<p style="font-size:40px;">Waitonce hold no responsibility for the services provided by allied health professionals listed in this app.</p>
<p style="font-size:40px;">Waitonce is an appointment and connecting service, we are not responsible or associated with fees or payments for allied health services provided.
Waitonce is not responsible for service availability from allied health professionals, we enable visibility on availability.</p>
<p style="font-size:40px;">Waitonce does not accept antisocial behaviour. Any person communicating in a disrespectful, discriminatory and abusive manner will be removed from the app.</p>
<p style="font-size:40px;">Any provider who is publically known to have committed misconduct will not be permitted access to this app.</p>
<p style="font-size:40px;">Waitonce is not responsible for conducting safeguarding audits of providers on this app.</p>
<p style="font-size:40px;">Providers listed on this app have self identified professional standards and quality practices.</p>
<p style="font-size:40px;">Waitonce is not affiliated with any Government body and does not represent any Government or governing body.</p>
</body>
</html>
